---
deployment-pipeline:
  name: prod-deploy
go-server:
  host: go.getmingle.io
  username: rearadmiral
# Optional Settings
# == If you don't want the latest of all materials, you can also use the materials in the last green run of an upstream pipeline.  For example, on Mingle we want to deploy the version we validated on our staging environment.
# upstream-pipeline:
#   name: staging-deploy
#   stage: ready_for_production
# countdown_in_seconds: 3 # is the default countdown, during which you can close the lid and cancel
